<div class="center jumbotron">
  <h1>Welcome to Zomato</h1>
<label> Users :</label>
<button id ="login1" onclick="location.href='/users/login';"> Login </button>
<button  id="signup1" onclick="location.href='/users/signup';">SignUp</button>
</br>
</br>
<label>Restaurant Owner :</label>
<button id="login2" onclick="location.href='/rowners/login';"> Login </button>
<button id="signup2" onclick="location.href='/rowners/signup';">SignUp</button>


</br>
</br>
<%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
  
