<label> Users :</label>
<button id ="login1" onclick="location.href='/users/login';"> Login </button>
<button  id="signup1" onclick="location.href='/users/signup';">SignUp</button>
</br>
</br>
<label>Restaurant Owner :</label>
<button id="login2" onclick="location.href='/rowner/login';"> Login </button>
<button id="signup2" onclick="location.href='/rowner/signup';">SignUp</button>