<div class="center jumbotron" style="height :500px; width: 1200px;">
  <h1>Welcome to Zomato</h1>


</br>
</br>
</br>
<h3>Find the best restaurants, cafés and bars in Delhi NCR </h2>
<div>
 <%= form_tag '/restaurants/search',class: "form-inline",method: :get do %>
      <p>
        <%= text_field_tag :search, params[:search] ,class: "form-control search"%>
        <%= submit_tag "Search",class: "btn btn-primary submit-btn"  %>
      </p>
      <%end %>
      
</div>
<%= link_to "Sign up now!", users_path, class: "btn btn-lg btn-primary" %>
</div>
  
