<h1>Listing restaurants</h1>

<div class="row">
<% @restaurants.each do |restaurant| %>
  <label>Name    :</label><%= restaurant.name %>
  </br>
  <label>Address :</label><%= restaurant.address %>
  </br>
  <label>Details :</label><%= restaurant.details %>
<% end %>
</div>




