// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 40%;
  margin-bottom: 15px;
  }

input {
  height: auto !important;
}
.submit-btn
{
	width:40%;
}
.search{
	width:100% !important;;
}